body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
    box-sizing: border-box; /* уменьшает width 1400px на величину padding 125px, 
     данный параметр занесен  в reset.css*/ 
}

.interior {
    margin-top: 30px;
    padding-top: 379px;
    padding-left: 40px;
    height: 500px;
    width: 1150px;
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin-bottom: 150px;
}

.image-text {
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 30px; 
    letter-spacing: -0.03em;
} 

.interior .image-text {
    color: white;
    font-size: 20px;
    line-height: 27.32px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin: 0;
} 

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 30px; 
}

p.description {
    font-size: 45px;
    font-weight: 400;
    line-height: 61px; 
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 30px; 
}

.btn{
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: red;
    color: white;
}

.btn:hover{
    background-color: white;
    color: red;
}